
extends ../layout

block viewVars
  -var ngApp = 'domo'

block scripts
  script.
    var organization='!{organization.orgURL}';
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-resource/angular-resource.min.js')
  script(src='/js/admin/admin.js')
  script(src='/js/admin/controllers/adminControllers.js')
  script(src='/js/admin/services/adminServices.js')
  script(src='/js/admin/filters/adminFilters.js')
  script(src='/js/admin/directives/adminDirectives.js')
  

block body
  include menu


  .page
    #main.container-fluid
      .page-header
        h2 Admin Area
      table.table
        tbody
          tr
            td 
              b ID
            td !{organization.id}
          tr
            td 
              b Name
            td !{organization.displayName}
          tr
            td 
              b Code
            td !{organization.code}
          tr
            td 
              b URL
            td /!{organization.orgURL}

      div(ng-view)