extends layout

block viewVars
  -var title = "View Advice - " + organization.displayName
block body
  script(type="text/javascript").
    window.orgURL= "#{organization.orgURL}"
    noCodeText = "Please enter your auth code! Email domo@domo.io w/ your phone # to get a new one!"
    errorText = "Sorry there was an error. Let domo@domo.io know if it keeps up!"
    badCodeText = "Oops, bad auth code! Try again or email domo@domo.io w/ your phone # to get a new one!"
  
  :coffeescript
    $(document).ready =>
      if advice?
        $('#authCodeForm').addClass('hidden')
        updateForAdviceRequest advice, false

    window.submitPressed = () ->
      code = $('#codeInput').val()

      errorAction = () ->
        $("#submitButton").removeClass('disabled')
        $('#submitStatus').removeClass('hidden')
        $('#submitStatus').text errorText

      if code?.length > 0
        $('#submitstatus').addClass('hidden')
        $("#submitButton").addClass('disabled')
        $.post("/viewadvice/#{accessToken}", {authToken: code}, (response)=>
          console.log response
          if response?.status != "success" || response?.advice? == false
            errorAction()
            $('#submitStatus').text badCodeText
          else
            $('#authCodeForm').addClass('hidden')
            advice = response.advice
            authToken = advice?.authToken
            updateForAdviceRequest response.advice, true
            ).error(errorAction)
      else
        $('#submitStatus').removeClass('hidden')
        $('#submitStatus').text noCodeText
      return false

    window.setupSubmitting = () ->
      $('#submitButton').addClass('disabled')
      $('#submitStatus').addClass('hidden')

    window.setupFailedSubmit = () ->
      $('#submitButton').removeClass('disabled')
      $('#submitStatus').removeClass('hidden')
      $('#submitStatus').text "Ooops, that's not the code!"
    

    #need to replace these with angular.js
    window.setupSubmitSuccess = () ->
      $('#codeInputDiv').fadeOut()

    drawAdviceRequestBox = (adviceRequest) ->
     $('.page-header').after("""<div class="row-fluid adviceRow"><li class="span12"><div class="caption"><h4 class="grayLabel">#{adviceRequest.modifiedDate.toString()}</h4><p class="adviceRequestText">#{adviceRequest.adviceRequest} </p></div></li></div>""")
  
    drawResponseBox = (response) ->
      $('.adviceRow').last().after("""<div class="row-fluid adviceRow adviceResponseRow"><li class="span12"><div class="caption"><h4 class="text-success">#{response.user.displayName}</h4><h5 class="grayLabel">#{response.modifiedDate.toString()}</h5><p class="adviceResponseText">#{response.adviceResponse}</p></div></li></div>""")
      if response.helpful >= 1
        $('.caption').last().prepend(helpfulLabel)
      else
        $('.caption').last().prepend(wasitHelpfulLabel)

    updateForAdviceRequest = (adviceRequest, animate) ->
      drawAdviceRequestBox adviceRequest
      for response in adviceRequest.responses
        drawResponseBox response
      #was it helpful link
      $('.wasitHelpfulLink').click  (e) =>
        @window.helpfulPressed($(e.currentTarget))
    
      if animate == true
        $('.adviceRow').hide().slideDown(400)

  include includes/toolbar  


  .content.container-fluid
    section#index-about
      a(href="/#{organization.orgURL}")
        h1= organization.displayName
    p.page-header Let's see what advice you got.
    #codeInputDiv
      form(method="GET", action="#",onsubmit='window.submitPressed.apply(); return false') 
        p.codePrompt please enter your advice secret code
        input#adviceAuthCodeInput(type="text", placeholder="secret code!")
        br
        input#submitButton.btn.btn-large.btn-success(type= "submit", style= 'margin-top: 5px; width: 100px;')
      h4#submitStatus.text-warning.hidden Ooops, that's not the code!
