extends layout

block viewVars
  -var title = "View Advice - " + organization.displayName
  -var ngApp = 'adviceRequestDetail'

block scripts
   script(src='/components/angular/angular.min.js')
   script(src='/components/angular-resource/angular-resource.min.js')

   script(src='/js/adviceRequestDetail/controllers/adviceRequestDetailController.js')
   script(src='/js/adviceRequestDetail/services/adviceRequestDetailServices.js')


block body
  script(type="text/javascript").
    window.orgURL= "#{organization.orgURL}"
    window.advicerequestId= "#{advicerequestId}"
    window.accessToken = "#{accessToken}"
    window.orgAccessCode = "#{orgAccessCode}"

    window.thanks = function(self){
      var isThankyou = false
      var adviceGiver = $(self).parents().eq(4).data('advgiver')

      if($(self).attr('src') == '/img/ty_act_s.png'){
        $(self).attr('src','/img/ty_deact_s.png')
      }
      else{
        $(self).attr('src','/img/ty_act_s.png')
        isThankyou = true
      }

      $.ajax({
        type: 'POST',
        url: '../advicerequest/#{advicerequestId}/advice/' + $(self).parents().eq(4).data('advid') + '/advicethankyou',
        data: {thankyou : isThankyou, token : window.accessToken, adviceGiver : adviceGiver},
        success: function(data) {
          console.log('thankyou successfully set to ' + isThankyou)
        },
        error: function(jqXHR) {
            return console.log(jqXHR.responseText)
        }
      })
    }

    window.helpful = function(self){
      var isHelpful = false
      var adviceGiver = $(self).parents().eq(4).data('advgiver')

      if($(self).attr('src') == '/img/helpful_act.png'){
        $(self).attr('src','/img/helpful_deact.png')
      }
      else{
        $(self).attr('src','/img/helpful_act.png')
        isHelpful = true
      }

      $.ajax({
        type: 'POST',
        url: '../advicerequest/#{advicerequestId}/advice/' + $(self).parents().eq(4).data('advid') + '/advicehelpful',
        data: {helpful : isHelpful, token : window.accessToken, adviceGiver : adviceGiver},
        success: function(data) {
          console.log('Helpful successfully set to ' + isHelpful)
        },
        error: function(jqXHR) {
            return console.log(jqXHR.responseText)
        }
      })
    }

    noCodeText = "Please enter your auth code! Email domo@domo.io w/ your phone # to get a new one!"
    errorText = "Sorry there was an error. Let domo@domo.io know if it keeps up!"
    badCodeText = "Oops, bad auth code! Try again or email domo@domo.io w/ your phone # to get a new one!"
  
  script.
    var _this = this;

    $(document).ready(function() {
      if(window.location.search){
        var qs = window.location.search.split('&')
        $('#organizationCodeInput').val(qs[1].split('=')[1])
        $('#adviceAuthCodeInput').val(qs[0].split('=')[1])
      }

      if (typeof advice !== "undefined" && advice !== null) {
        $('#authCodeForm').addClass('hidden');
        return updateForAdviceRequest(advice, false);
      }
    });

    window.submitPressed = function() {
      var code, errorAction, orgCode,
        _this = this;
      code = $('#adviceAuthCodeInput').val();
      window.accessToken = code;
      orgCode = $('#organizationCodeInput').val();
      if ((code != null ? code.length : void 0) > 0) {
        window.orgAccessCode = orgCode;
      }
      errorAction = function() {
        $("#submitButton").removeClass('disabled');
        $('#submitStatus').removeClass('hidden');
        return $('#submitStatus').text(errorText);
      };
      if ((code != null ? code.length : void 0) > 0) {
        $('#submitstatus').addClass('hidden');
        $("#submitButton").addClass('disabled');
        $.get("/api/v1/organizations/mit/advicerequest/" + window.advicerequestId + "?code=" + orgAccessCode + "&token=" + accessToken, {}, function(response) {
          var advice, _ref;
          console.log(response);
          if ((response != null ? (_ref = response.meta) != null ? _ref.status : void 0 : void 0) !== "success") {
            errorAction();
            return $('#submitStatus').text(badCodeText);
          } else {
            advice = response.response.advicerequest;
            window.adviceRequestScope.advicerequest = advice;
            window.adviceRequestScope.$apply();

            for(var i = 0; i < response.response.advicerequest.responses.length; i++){
              var resp = response.response.advicerequest.responses[i]

              if(resp.thankyou)
                $("div").find("[data-advid='" + resp._id + "']").find('.thankyou').attr('src', "/img/ty_act_s.png")
              if(resp.helpful)
                $("div").find("[data-advid='" + resp._id + "']").find('.helpful').attr('src', "/img/helpful_act.png")
            }
            return window.setupSubmitSuccess();
          }
        }).error(errorAction);
      } else {
        $('#submitStatus').removeClass('hidden');
        $('#submitStatus').text(noCodeText);
      }
      return false;
    };

    window.setupSubmitting = function() {
      $('#submitButton').addClass('disabled');
      return $('#submitStatus').addClass('hidden');
    };

    window.setupFailedSubmit = function() {
      $('#submitButton').removeClass('disabled');
      $('#submitStatus').removeClass('hidden');
      return $('#submitStatus').text("Ooops, that's not the code!");
    };

    window.setupSubmitSuccess = function() {
      $('#codeInputDiv').fadeOut();
      $('#codeInputDiv').addClass('hidden');
      return $('#adviceDisplay').removeClass('hidden');
    };

  include includes/toolbar  


  .content.container-fluid
    section#index-about
      a(href="/#{organization.orgURL}")
        h1= organization.displayName
    p.page-header Let's see what advice you got.
    #codeInputDiv
      form(method="GET", action="#",onsubmit='window.submitPressed.apply(); return false') 
        p.codePrompt Please enter your organization's code
        input#organizationCodeInput(type="text", placeholder="code!")
        br
        p.codePrompt please enter your advice secret code
        input#adviceAuthCodeInput(type="text", placeholder="secret code!")
        br
        input#submitButton.btn.btn-large.btn-success(type= "submit", style= 'margin-top: 5px; width: 100px;')
      h4#submitStatus.text-warning.hidden Ooops, that's not the code!

    #adviceDisplay.hidden.content-index.container-fluid(ng-controller="adviceRequestDetailController")
      div.row-fluid.adviceRow
        li.span12
          div.caption
            //if helpful, say
            //if pending approval, say, give approval url
            //if flagged, say
            //h4.text-success SupporterDisplayName
            h5.grayLabel {{advicerequest.createdOn.toString()}}
            p.adviceRequestText {{advicerequest.adviceRequest}}
      div.row-fluid.adviceRow.adviceResponseRow(ng-repeat="response in advicerequest.responses", data-advid="{{response._id}}", data-advgiver="{{response.adviceGiver}}")
        li.span12
          div.caption
            //if helpful, say
            //if pending approval, say, give approval url
            //if flagged, say
            h4.text-success {{response.adviceGiverDisplayName}}
            h5.grayLabel {{response.modifiedDate.toString()}}
              div.right
                img.thankyou.link(src="/img/ty_deact_s.png", onclick="window.thanks(this)")
                img.helpful.link(src="/img/helpful_deact.png", onclick="window.helpful(this)")
            p.adviceRequestText {{response.adviceResponse}}
    
