extends layout

block viewVars
  -var title = "Get Advice - " + organization.displayName

block body
  script(type="text/javascript").
    window.orgURL= "#{organization.orgURL}"
  
  :coffeescript
    window.submitPressed = () ->
      code = $('#organizationCodeInput').val()
      if code?.length > 0
        console.log "submitting good code #{code}"
        window.setupSubmitting()
        $.get("/api/v1/organizations/#{window.orgURL}/codecheck", { code: code, html: true }, (response)=>
          console.log response
          if response?.meta?.status != "success"
            window.setupFailedSubmit()
          else
            newDom = $(response?.response?.html)
            $('#codeInputDiv').before newDom
            window.setupSubmitSuccess()
        ).error(window.setupFailedSubmit)
      else
        return
    window.setupSubmitting = () ->
      $('#submitButton').addClass('disabled')
      $('#submitStatus').addClass('hidden')

    window.setupFailedSubmit = () ->
      $('#submitButton').removeClass('disabled')
      $('#submitStatus').removeClass('hidden')
      $('#submitStatus').text "Ooops, that's not the code!"


    window.setupSubmitSuccess = () ->
      $('#codeInputDiv').fadeOut()

  include includes/toolbar  
  .organizationHeader
    .organizationBG(style=" background-image: url( #{organization.bannerURL} );")

  .content.container-fluid.addClass('hidden')
      section#index-about
        a(href="/#{organization.orgURL}")
          h1= organization.displayName
  
  .content.container-fluid    
      #codeInputDiv
        form(method="GET", action="#",onsubmit='window.submitPressed.apply(); return false') 
          br
          p.codePrompt Please enter your organization's code
          input#organizationCodeInput(type="text", placeholder="code!")
          br
          input#submitButton.btn.btn-large.btn-success(type= "submit", style= 'margin-top: 5px; width: 100px;')
        h4#submitStatus.text-warning.hidden Ooops, that's not the code!
        p.lead
          | It's on the flyers! Check with someone your organization if you've misplaced it.

      #thankYouText.hidden
        h1.text-success
          | Thanks!
          small  Depending on reasonable hours for volunteering, someone should get back to you in a few hours!
        h3
          | If you need help NOW, you should call
          b  911
          | .
        br
        h4
          | Here's a URL to copy if you ever want to visit your advice page before/without getting an SMS from us. If you didn't leave a phone #, you'll need this:
          br 
          br 
          a#adviceURL(href= '/s', target: '_blank') Your advice URL.

