extends layout

block viewVars
  - title = 'Give Advice'
  - hideToolbar = false
  -var ngApp = 'adviceRequestDetail'

block scripts
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-resource/angular-resource.min.js')

  script.
    advicerequestId="#{advicerequestId}";
    successLabelText="Thanks for your support"
  
  script(src='/js/adviceRequestDetail/controllers/adviceRequestDetailController.js')
  script(src='/js/adviceRequestDetail/services/adviceRequestDetailServices.js')

block body

  script.
    window.submitPressed = function(){
      advice = $('#adviceTextArea').val()
      checkBoxChecked = $('#guidlinesAcceptedBox').is(":checked")
   
      errorAction = function() {
        $("#submitButton").removeClass('disabled');
        $('#submitStatus').removeClass('hidden');
        return $('#submitStatus').text("Sorry there was an error. Copy your text and let domo@domo.io know if it keeps up!");
      };
       
      if ((typeof advice !== "undefined" && advice !== null ? advice.length : void 0) > 0 && checkBoxChecked === true) {
        $('#submitstatus').addClass('hidden');
        $("#submitButton").addClass('disabled');
        submissionURL = "../advicerequest/" + advicerequestId + "/advice";
        console.log(submissionURL)
        $.post(submissionURL, { advice: advice }, function(response) {
          console.log(response);
          var _ref;
          if ((typeof response !== "undefined" && response !== null ? (_ref = response.meta) != null ? _ref.status : void 0 : void 0) !== "success") {
            return errorAction();

          } else {
            
            //load resource and clear the response box
            window.adviceRequestScope.loadResource()
            $('#submitStatus').text(successLabelText)
            $('#submitStatus').removeClass('hidden');
            $('#hellyeah').text('Thanks for your support')

            $('#adviceTextArea').val('');
            $('#guidlinesAcceptedBox').prop('checked', false);
            $("#submitButton").removeClass('disabled');
            

          }

        }).error(errorAction);
      } else {
        
        $('#submitStatus').removeClass('hidden');
        if ((typeof advice !== "undefined" && advice !== null ? advice.length : void 0) > 0 && checkBoxChecked !== true) {
          $('#submitStatus').text("Please indicate that your advice is conform the Domo advice-giving guidelines by checking the checkbox");
        } else {
          $('#submitStatus').text("Please give your advice before clicking submit");
        }
      }
       

    };

  .content-index.container-fluid(ng-controller="adviceRequestDetailController")
    section#home
        h3.darkGreenLabel Give Advice / 
         a.darkGreenLabel(href='../giveadvice') Back to Requests
      p#hellyeah 

    div.row-fluid.adviceRow
      li.span12
        div.caption
          //if helpful, say
          //if pending approval, say, give approval url
          //if flagged, say
          //h4.text-success SupporterDisplayName
          //h5.grayLabel {{advicerequest.createdOn.toString()}}
          p.adviceRequestText {{advicerequest.adviceRequest}}
    div.row-fluid.adviceRow.adviceResponseRow(ng-repeat="response in advicerequest.responses")
      li.span12
        div.caption
          //if helpful, say
          //if pending approval, say, give approval url
          //if flagged, say
          h4.text-success {{response.adviceGiverDisplayName}}
          //h5.grayLabel.adv-btn {{response.modifiedDate.toString()}}
          p.grayLabel.adviceRequestText {{response.adviceResponse}}
    
    div.row-fluid#giveAdviceBox
      ul.thumbnails
        li.span12
          - var displayName = (typeof orguser.displayName === undefined ? 'Set your displayName' : orguser.displayName)
          h4.text-success= displayName
    
          form(method='GET', id='adviceResponse', action="#", onsubmit= "window.submitPressed.apply(); return false;")
            textarea.input-block-level#adviceTextArea(rows= "3", placeholder= "You can type your response here...")
            div.controls-row
              label.checkbox.span6
                input#guidlinesAcceptedBox(type='checkbox')
                |This advice is in line with the Domo 
                a(href='../supporters', target="_blank") advice-giving guidlines
                |.

              input.btn.btn-success.right#submitButton(type= 'submit') Submit
            h4.text-warning.hidden#submitStatus= successLabelText
