block viewVars

//- now we do stylesheets 
- var standardStylesheets = ['/css/bootstrap.min.css', '/css/style.css','/css/bootstrap-timepicker.min.css']
- if(typeof stylesheets === 'undefined')
  - var stylesheets = standardStylesheets
- else 
  - var stylesheets = localScripts.concat(standardStylesheets)

- var standardScripts = ['//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js', '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js','/js/bootstrap-timepicker.min.js']
- if(typeof localScripts === 'undefined')
  - var localScripts = standardScripts
- else
  - var localScripts = localScripts.concat(standardScripts)


- if(typeof title === 'undefined')
  - var title = "Domo"
- else
  - title += " | Domo"

!!! 5
html(ng-app=ngApp)
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="copyright", content="ExoMachina, Inc. ExoMachina.com")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name= "apple-mobile-web-app-capable", content="yes")
    link(rel="icon", type="image/png", href="/icons/favicon.png")
    link(rel="apple-touch-icon", href="/icons/touch-icon.png")

    each s in stylesheets
      link(rel='stylesheet', href='#{s}')

    block styles

    each s in localScripts
      script(src='#{s}')
      
    block head


  body(style= bodyStyle)

    - if(typeof hideToolbar !== 'undefined' && !hideToolbar)
      include includes/toolbar

    block body
    
    footer
      div.row-fluid
        div.span12
          a(href="mailto:domo@domo.io") domo@domo.io
          |  | 
          a(href="/privacyandterms") privacy &amp; terms

      block footer




    //- googlz analytiks lolz //
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-45561788-1','domo.io');ga('send','pageview'); 


    block scripts
