- if(typeof stylesheets === 'undefined')
  - var stylesheets = ['/css/bootstrap.min','/css/style']
- if(typeof localScripts === 'undefined')
  - var localScripts = ['/js/jquery.min','/js/bootstrap']

block viewVars

- if(typeof title === 'undefined')
  - var title = "Domo"
- else
  - title += " | Domo"

!!! 5
html
  head
    title #{title}      
    meta(charset="utf-8")
    meta(name="copyright", content="ExoMachina, Inc. ExoMachina.com")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name= "apple-mobile-web-app-capable", content="yes")
    link(rel="icon", type="image/png", href="/icons/favicon.png")
    link(rel="apple-touch-icon", href="/icons/touch-icon.png")
    title #{title} | Domo

    each s in stylesheets
      link(rel='stylesheet', href='#{s}.css')

    each s in localScripts
      script(src='#{s}.js')

    block head


  body(style= bodyStyle)

    - if(typeof hideToolbar !== 'undefined' && !hideToolbar)
      include includes/toolbar

    block body
    
    footer
      a(href="mailto:domo@domo.io") domo@domo.io
      |  | 
      a(href="/privacyandterms") privacy &amp; terms

    - if(typeof scripts !== 'undefined')
      each s in scripts
        script(src='#{s}.js').

      block footer


    //- googlz analytiks lolz //
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-45561788-1','domo.io');ga('send','pageview'); 

    block scripts
