- if(typeof stylesheets === 'undefined')
  - var stylesheets = ['/css/bootstrap.min','/css/style']
- if(typeof localScripts === 'undefined')
  - var localScripts = ['/js/jquery.min','/js/bootstrap']

block viewVars

!!! 5
html
  head
    meta(charset="utf-8")
    meta(name="copyright", content="ExoMachina, Inc. ExoMachina.com")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name= "apple-mobile-web-app-capable", content="yes")
    link(rel="icon", type="image/png", href="/icons/favicon.png")
    link(rel="apple-touch-icon", href="/icons/touch-icon.png")
    title #{title} | Domo

    each s in stylesheets
      link(rel='stylesheet', href='#{s}.css')

    each s in localScripts
      script(src='#{s}.js')

    block head


  body(style= bodyStyle)

    - if(typeof hideToolbar !== 'undefined' && !hideToolbar)
      include includes/toolbar

    block body
    
    footer
      a(href="mailto:domo@domo.io") domo@domo.io
      |  | 
      a(href="/privacyandterms") privacy &amp; terms
      br
      | made by 
      a(target='_blank', href='http://alist.im') Alex List
      | , 
      a(target='_blank', href='http://hnk.im') Harish Kamath
      |  and the Domo team at MIT

    - if(typeof scripts !== 'undefined')
      each s in scripts
        script(src='#{s}.js')

    block footer

    //- googlz analytiks lolz //
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-40851132-1', 'domo.io');
        ga('send', 'pageview');