extends layout

block viewVars
  -var title = organization.displayName

block body
  include includes/toolbar
  link(rel='stylesheet', href='/css/orgprofile.css')

  //- 
  //business' image here
  .organizationHeader
    .organizationBG(style=" background-image: url( #{organization.bannerURL} );")

  .content.container-fluid
    section#index-about
      h1
        a(href="/#{organization.orgURL}") !{organization.displayName}
      p.hello
        | Welcome to your support dashboard !{orguser.email}
      br
      div.left.tbl
        b You currently have !{orguser.assignedAdviceRequestsCount} assigned advice request(s):
        br
        .advAssigned
          table.table.table-condensed.table-hover
            thead
              tr
                td
                  | Advice request
                td
                  | Created On
            tbody
              each adv in orguser.assignedAdviceRequests
                -var arRef = "./advice/" + adv._id;
                  tr(onclick="document.location = '#{arRef}'").advr
                    td
                      a(href=arRef) !{adv.adviceRequest}
                    td
                      a(href=arRef) !{adv.createdOn}
      div.icon-chevron-down.expand.advas
      br
      br
      div.left.tbl
        b You have given advice !{orguser.advcount} time(s) in the past:
        br
        .advGiven
          table.table.table-condensed.table-hover
            thead
              tr
                td
                  | Advice request
                td
                  | Created On
            tbody
              each adv in orguser.adviceGiven
                -var arRef = "./advice/" + adv._id;
                  tr(onclick="document.location = '#{arRef}'").advr
                    td
                      a(href=arRef) !{adv.adviceRequest}
                    td
                      a(href=arRef) !{adv.createdOn}
      div.icon-chevron-down.expand.advgiven-exp

    .availability
      b
        p.left You are currently assigned to the following timeslots for support:
      br

      table.table.table-condensed.timetable
        thead
          tr
            td
              | Start Time
            td
              | End Time
            td
              | Day of the Week
        tbody.timetablebody
      hr
      div.right.btn.btn-success.savetime
        | Save
      div.right.btn.btn-default.addtime
        | Add New Time
      div.right.notification

      script(type='text/javascript').
        $('.timepicker1').each(function(){
          $(this).timepicker('setTime', '12:00 AM');
        })

        $('.icon-remove-sign').click(function(){
          $(this).parent().parent().remove()
        })

        $(".dropdown-menu li").click(function(){
          $('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
        })

        $(".addtime").click(function(){
          var weekday=new Array(7);
          weekday[0]="sunday";
          weekday[1]="monday";
          weekday[2]="tuesday";
          weekday[3]="wednesday";
          weekday[4]="thursday";
          weekday[5]="friday";
          weekday[6]="saturday";

          var begin = currhour()
          var end = currhour(true)
          var day = weekday[(new Date()).getDay()]

          if($('.timetablerow').length != 0){
            console.log('...')
            begin = $('.timetablerow').last().find('.timepicker1').val()
            end = $('.timetablerow').last().find('.timepicker1').eq(1).val()
            day = $('.timetablerow').last().find('.dropdown-toggle').val().toLowerCase().trim()
          }

          $('.timetablerowclone').last().clone().appendTo('.timetablebody');

          $('.timetablebody .timetablerowclone .timepicker1').first().timepicker('setTime', begin)
          $('.timetablebody .timetablerowclone .timepicker1').last().timepicker('setTime', end)
          $('.timetablebody .timetablerowclone .dropdown-toggle').html(day + ' <b class="caret"></b>').val(day)

          $('.timetablebody .timetablerowclone').each(function(){
            $(this).removeClass('timetablerowclone').addClass('timetablerow')
          })

          $('.icon-remove-sign').unbind('click')
          $('.icon-remove-sign').click(function(){
            $(this).parent().parent().remove()
          })

          $(".dropdown-menu li").unbind('click')
          $(".dropdown-menu li").click(function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
          })
        })

        $('.savetime').click(function(){
          var complete = true

          $('.timetablerow').each(function(){
            if($(this).find('.dropdown-toggle').val().toLowerCase().trim() == "")
              complete = false
          })

          if(!complete)
            return alert('Please choose a day for your timeslot')

          var times = []
          var isValid = true
          $('.timetablerow').each(function(){
            var time = {}
            var begin = $(this).find('.timepicker1').val()
            var end = $(this).find('.timepicker1').eq(1).val()

            time.beginString = begin
            time.endString = end
            time.begin = getMins(begin)
            time.end = getMins(end)

            if(time.end == 0){
              time.end = 1439
              time.endString = "11:59 PM"
            }

            if(time.end < time.begin)
              isValid = false

            time.day = $(this).find('.dropdown-toggle').val().toLowerCase().trim()
            times.push(time)
          })

          if(!isValid)
            return alert('Your end time must be later than your start time on a given day!')
          
          $.ajax({
            type: 'POST',
            url: './savetimes',
            data: {times : times},
            success: function(data) {
              if(data.msg && !data.err){
                $('.notification').text('Successfully saved!')
                setTimeout(function(){
                  $('.notification').fadeOut(function(){
                    $('.notification').text('')
                    $('.notification').show()
                  })
                },3000)
              }
            },
            error: function(jqXHR) {
                return console.log(jqXHR.responseText)
            }
          })
        })

        function getMins(timeString){
          timeString = timeString.toLowerCase()
          tsArr = timeString.split(' ')
          var hm = tsArr[0].split(':')

          var mins = hm[1]
          var hours
          if(tsArr[1] == 'pm'){
            if(hm[0] != '12')
              hours = hm[0]*1 + 12
            else
              hours = 12
          }
          else{
            if(hm[0] != '12')
              hours = hm[0]*1
            else
              hours = 0
          }
          return parseInt(hours)*60 + parseInt(mins)
        }

        function currhour(nextHour){
          var now = new Date()
          var hour = now.getHours()
          var ampm = "AM"
          if(nextHour)
            hour += 1
          if(hour >= 12)
            ampm = "PM"

          if(hour > 12)
            hour = Math.floor(hour % 12)

          return hour + ':00' + ampm
        }

      br
      br

      div.hidden
        table
          tbody
            tr.timetablerowclone
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.btn-group
                  div.dropdown.dropdown-toggle.btn(data-toggle="dropdown") Day <b class="caret"></b>
                  ul.dropdown-menu
                    li 
                      | Sunday
                    li 
                      | Monday
                    li 
                      | Tuesday
                    li 
                      | Wednesday
                    li 
                      | Thursday
                    li 
                      | Friday
                    li 
                      | Saturday
              td
                i.icon-remove-sign

      hr
      div.left
        b Statistics:
      div.stats(style="width: 90%; margin: 0 auto;")
        br
        table.table.table-condensed.table-hover
          tbody
            tr
              td
                |Total advice requests assigned:
              td
                !{orguser.assignedCount}
            tr
              td
                |Total advice given:
              td
                !{orguser.adviceCount}
            tr
              td
                | Helpfuls received: 
              td
                | !{orguser.helpfuls}
            tr
              td
                | Thank Yous Received:
              td
                !{orguser.thanks}
            tr
              td
                |Percent of assigned requests responded to: 
              td
                div.advpercent
            tr
              td
                |Percent of advice marked as helpful: 
              td
                div.helpfulpercent
            tr
              td
                |Percent of advice thanked: 
              td
                div.thankpercent


      script.
        var times = !{JSON.stringify(orguser.times)};
        times.forEach(function(e,i){
          $('.timetablerowclone').last().clone().appendTo('.timetablebody');

          $('.timetablebody .timetablerowclone .timepicker1').first().timepicker('setTime', e.beginString);
          $('.timetablebody .timetablerowclone .timepicker1').eq(1).timepicker('setTime', e.endString);
          $('.timetablebody .timetablerowclone .dropdown-toggle').html(e.day + ' <b class="caret"></b>').val(e.day)

          $('.timetablebody .timetablerowclone').each(function(){
            $(this).removeClass('timetablerowclone').addClass('timetablerow')
          })

          $('.icon-remove-sign').unbind('click')
          $('.icon-remove-sign').click(function(){
            $(this).parent().parent().remove()
          })

          $(".dropdown-menu li").unbind('click')
          $(".dropdown-menu li").click(function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
          })
        })

        var orguser = !{JSON.stringify(orguser)}
        $('.advpercent').text(Math.round(orguser.adviceCount / orguser.assignedCount * 100) + '%')
        $('.helpfulpercent').text(Math.round(orguser.helpfuls / orguser.adviceCount * 100) + '%')
        $('.thankpercent').text(Math.round(orguser.thanks / orguser.adviceCount * 100) + '%')
        console.log(orguser)

        $('.advas').click(function(){
          if($('.advAssigned').height() == 160){
            $('.advAssigned').height('100%')
            $(this).removeClass('icon-chevron-down')
            $(this).addClass('icon-chevron-up')
          }
          else{
            $('.advAssigned').height(150)
            $(this).removeClass('icon-chevron-up')
            $(this).addClass('icon-chevron-down')
          }
        })

        $('.advgiven-exp').click(function(){
          if($('.advGiven').height() == 160){
            $('.advGiven').height('100%')
            $(this).removeClass('icon-chevron-down')
            $(this).addClass('icon-chevron-up')
          }
          else{
            $('.advGiven').height(150)
            $(this).removeClass('icon-chevron-up')
            $(this).addClass('icon-chevron-down')
          }
        })

