extends layout

block viewVars
  -var title = organization.displayName

block body
  include includes/toolbar
  link(rel='stylesheet', href='/css/orgprofile.css')

  //- 
  //business' image here
  .organizationHeader
    .organizationBG(style=" background-image: url( #{organization.bannerURL} );")

  .content.container-fluid
    section#index-about
      h1
        a(href="/#{organization.orgURL}") !{organization.displayName}
      p.hello
        | Welcome to your support dashboard !{orguser.email}
      br
      div.left
        b You currently have X assigned advice requests:
      br
      br
      div.left
        b You have given advice !{orguser.advcount} time(s) in the past:

        .advGiven
          table.table.table-condensed.table-hover
            thead
              tr
                td
                  | Advice request
                td
                  | Last Response Date
            tbody
              each adv in orguser.adviceGiven
                  tr(onclick="document.location = '#{adv.accessURL}'").advr
                    td
                      a(href="#{adv.accessURL}") !{adv.adviceRequest}
                    td
                      a(href="#{adv.accessURL}") !{adv.lastResponseDate}

    .availability
      b
        p.left You are currently assigned to the following timeslots for support:
      br

      table.table.table-condensed.timetable
        thead
          tr
            td
              | Start Time
            td
              | End Time
            td
              | Day of the Week
        tbody.timetablebody
          tr.timetablerow
            td
              div.input-append.bootstrap-timepicker.left
                input.timepicker1(type="text").input-small
                span.add-on
                  i.icon-time
            td
              div.input-append.bootstrap-timepicker.left
                input.timepicker1(type="text").input-small
                span.add-on
                  i.icon-time
            td
              div.btn-group
                div.dropdown.dropdown-toggle.btn(data-toggle="dropdown") Day <b class="caret"></b>
                ul.dropdown-menu
                  li 
                    | Sunday
                  li 
                    | Monday
                  li 
                    | Tuesday
                  li 
                    | Wednesday
                  li 
                    | Thursday
                  li 
                    | Friday
                  li 
                    | Saturday
            td
              i.icon-remove-sign
      hr
      div.right.btn.btn-success.savetime
        | Save
      div.right.btn.btn-default.addtime
        | Add New Time

      script(type='text/javascript').
        $('.timepicker1').each(function(){
          $(this).timepicker('setTime', '12:00 AM');
        })

        $('.icon-remove-sign').click(function(){
          $(this).parent().parent().remove()
        })

        $(".dropdown-menu li").click(function(){
          $('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
        })

        $(".addtime").click(function(){
          $('.timetablerowclone').last().clone().appendTo('.timetablebody');

          $('.timetablebody .timetablerowclone .timepicker1').each(function(){
            $(this).timepicker('setTime', '12:00 AM');
          })

          $('.timetablebody .timetablerowclone').each(function(){
            $(this).removeClass('timetablerowclone').addClass('timetablerow')
          })

          $('.icon-remove-sign').unbind('click')
          $('.icon-remove-sign').click(function(){
            $(this).parent().parent().remove()
          })

          $(".dropdown-menu li").unbind('click')
          $(".dropdown-menu li").click(function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
          })
        })

      br
      br

      div.hidden
        table
          tbody
            tr.timetablerowclone
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.btn-group
                  div.dropdown.dropdown-toggle.btn(data-toggle="dropdown") Day <b class="caret"></b>
                  ul.dropdown-menu
                    li 
                      | Sunday
                    li 
                      | Monday
                    li 
                      | Tuesday
                    li 
                      | Wednesday
                    li 
                      | Thursday
                    li 
                      | Friday
                    li 
                      | Saturday
              td
                i.icon-remove-sign
      p
        #{orguser}

