extends layout

block viewVars
  -var title = organization.displayName

block body
  include includes/toolbar
  link(rel='stylesheet', href='/css/orgprofile.css')

  //- 
  //business' image here
  .organizationHeader
    .organizationBG(style=" background-image: url( #{organization.bannerURL} );")

  .content.container-fluid
    section#index-about
      h1
        a(href="/#{organization.orgURL}") !{organization.displayName}
      p.hello
        | Welcome to your support dashboard !{orguser.email}
      br
      div.left
        b You currently have !{orguser.assignedAdviceRequestsCount} assigned advice request(s):
        br
        .advAssigned
          table.table.table-condensed.table-hover
            thead
              tr
                td
                  | Advice request
                td
                  | Created On
            tbody
              each adv in orguser.assignedAdviceRequests
                -var arRef = "./advice/" + adv._id;
                  tr(onclick="document.location = '#{arRef}'").advr
                    td
                      a(href=arRef) !{adv.adviceRequest}
                    td
                      a(href=arRef) !{adv.createdOn}
      br
      br
      div.left
        b You have given advice !{orguser.advcount} time(s) in the past:
        br
        .advGiven
          table.table.table-condensed.table-hover
            thead
              tr
                td
                  | Advice request
                td
                  | Created On
            tbody
              each adv in orguser.adviceGiven
                -var arRef = "./advice/" + adv._id;
                  tr(onclick="document.location = '#{arRef}'").advr
                    td
                      a(href=arRef) !{adv.adviceRequest}
                    td
                      a(href=arRef) !{adv.createdOn}

    .availability
      b
        p.left You are currently assigned to the following timeslots for support:
      br

      table.table.table-condensed.timetable
        thead
          tr
            td
              | Start Time
            td
              | End Time
            td
              | Day of the Week
        tbody.timetablebody
      hr
      div.right.btn.btn-success.savetime
        | Save
      div.right.btn.btn-default.addtime
        | Add New Time

      script(type='text/javascript').
        $('.timepicker1').each(function(){
          $(this).timepicker('setTime', '12:00 AM');
        })

        $('.icon-remove-sign').click(function(){
          $(this).parent().parent().remove()
        })

        $(".dropdown-menu li").click(function(){
          $('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
        })

        $(".addtime").click(function(){
          $('.timetablerowclone').last().clone().appendTo('.timetablebody');

          $('.timetablebody .timetablerowclone .timepicker1').each(function(){
            $(this).timepicker('setTime', '12:00 AM');
          })

          $('.timetablebody .timetablerowclone').each(function(){
            $(this).removeClass('timetablerowclone').addClass('timetablerow')
          })

          $('.icon-remove-sign').unbind('click')
          $('.icon-remove-sign').click(function(){
            $(this).parent().parent().remove()
          })

          $(".dropdown-menu li").unbind('click')
          $(".dropdown-menu li").click(function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
          })
        })

        $('.savetime').click(function(){
          var times = []

          $('.timetablerow').each(function(){
            var time = {}
            var begin = $(this).find('.timepicker1').val()
            var end = $(this).find('.timepicker1').eq(1).val()

            time.beginString = begin
            time.endString = end
            time.begin = getMins(begin)
            time.end = getMins(end)
            time.day = $(this).find('.dropdown-toggle').val().toLowerCase().trim()
            times.push(time)
          })
          
          $.ajax({
            type: 'POST',
            url: './savetimes',
            data: {times : times},
            success: function(data) {
              if(!data.err)
                alert('Successfully Saved!')
            },
            error: function(jqXHR) {
                return console.log(jqXHR.responseText)
            }
          })
        })

        function getMins(timeString){
          timeString = timeString.toLowerCase()
          tsArr = timeString.split(' ')
          var hm = tsArr[0].split(':')

          var mins = hm[1]
          var hours
          if(tsArr[1] == 'pm'){
            if(hm[0] != '12')
              hours = hm[0]*1 + 12
            else
              hours = 12
          }
          else{
            if(hm[0] != '12')
              hours = hm[0]*1
            else
              hours = 0
          }
          return parseInt(hours)*60 + parseInt(mins)
        }

      br
      br

      div.hidden
        table
          tbody
            tr.timetablerowclone
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.input-append.bootstrap-timepicker.left
                  input.timepicker1(type="text").input-small
                  span.add-on
                    i.icon-time
              td
                div.btn-group
                  div.dropdown.dropdown-toggle.btn(data-toggle="dropdown") Day <b class="caret"></b>
                  ul.dropdown-menu
                    li 
                      | Sunday
                    li 
                      | Monday
                    li 
                      | Tuesday
                    li 
                      | Wednesday
                    li 
                      | Thursday
                    li 
                      | Friday
                    li 
                      | Saturday
              td
                i.icon-remove-sign
      p
        #{orguser}

      script.
        var times = !{JSON.stringify(orguser.times)};
        times.forEach(function(e,i){
          $('.timetablerowclone').last().clone().appendTo('.timetablebody');

          $('.timetablebody .timetablerowclone .timepicker1').first().timepicker('setTime', e.beginString);
          $('.timetablebody .timetablerowclone .timepicker1').eq(1).timepicker('setTime', e.endString);
          $('.timetablebody .timetablerowclone .dropdown-toggle').html(e.day + ' <b class="caret"></b>').val(e.day)

          $('.timetablebody .timetablerowclone').each(function(){
            $(this).removeClass('timetablerowclone').addClass('timetablerow')
          })

          $('.icon-remove-sign').unbind('click')
          $('.icon-remove-sign').click(function(){
            $(this).parent().parent().remove()
          })

          $(".dropdown-menu li").unbind('click')
          $(".dropdown-menu li").click(function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).text() + ' <b class="caret"></b>').val($(this).text())
          })
        })

