- var disableOrgSel = (disableOrgSel === true)

extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
  script(src='/js/typeahead.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js')

  link(rel='stylesheet', href='/css/typeahead.css')
  link(rel='stylesheet', href='/css/app/register.css')

block viewVars
  - title = 'Register'


block body

  div.row-fluid
    div.span12
      form#form-register(method='post')
        h3#form-register-heading Register
        p#form-register-errors
          include includes/errors
        input.input-block-level.required(type='text', name='email', value=email, maxlength=96, placeholder='E-mail address')
        input.input-block-level.required(type='password', name='password', maxlength=64, placeholder='Password')
        - if(!disableOrgSel)
          input#org.input-block-level(type='text', name='org', value=org, placeholder='Organization')
        input#orgId(type='hidden', name='orgId', value=orgId)
        input.input-block-level(type='text', name='skills', value=skills, maxlength=120, placeholder='Skills')
        button.btn.btn-large.btn-success(type='submit') Register

  - if(!disableOrgSel)
    script(type='text/javascript').
      var orgFilter = [!{ (!!orgId && !!org) ? "{ id: " + orgId + ", displayName: '" + org + "' } " : "" }];
      var orgElem = '#org';
      var orgIdElem = '#orgId';

      function isValidOrg() {
        if(_.isArray(orgFilter) && orgFilter.length > 0) {
          var inpVal = $(orgElem).val().toLowerCase();
          var matches = _.any(orgFilter, function(o) {
            if(inpVal === o.displayName.toLowerCase()) {
              $(orgElem).val(o.displayName);
              $(orgIdElem).val(o.id);
              selOrg = o;
              return true;
            }
            return false;
          });

          if(matches) {
            return true;
          }
        }
        return false;
      }


      function setupOrg() {
        $(orgElem).typeahead({
          name: 'organizations',
          valueKey: 'displayName',
          limit: 15,
          prefetch: '#{apiOrgUrl}',
          remote: {
            url: '#{apiOrgUrl}&q=%QUERY',
            filter: function(parsedResponse) {
              orgFilter = parsedResponse;
              return parsedResponse;
            }
          }
        }).on('typeahead:selected', function() {
          $(orgElem).valid();
        });
      }


      $(document).ready(function() {
        $('html').click(function() {
          if($(orgElem).val().length) {
            $(orgElem).valid();
          }
        });

        $('#org').parent().click(function(event){
          event.stopPropagation();
        });

        setupOrg();

        $.validator.addMethod('vld-org', function(value) {
          return isValidOrg();
        }, 'Please select an organization');

        $('#form-register').submit(function(){
          $('#form-register-errors').html('');
        }).validate({
          rules: {
           org: 'vld-org'
          },
          highlight: function(element) {
           $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function(element) {
           element.addClass('valid')
           .closest('.control-group').removeClass('error').addClass('success');
          }
        });

        $.extend($("#form-register").validate().settings, { onkeyup: false, onfocusout: false });
      });

  - else
    script(type='text/javascript').

      $(document).ready(function() {
        $('#form-register').validate({
          highlight: function(element) {
           $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function(element) {
           element.addClass('valid')
           .closest('.control-group').removeClass('error').addClass('success');
          }
        });
      });

