|   Hi,
br
|   The following user would like to be a supporter at Domo for #{org.displayName}:
br
|   E-mail: #{user.email}
br
|   Skils: #{user.tmpAttrs.roles.supporter.skills}
br
|   Joined: #{user.tmpAttrs.roles.supporter.joined}
br
p
  a(href=approvalLink) Click here
  |  to approve this request.