p Hi,
p The following user would like to be a supporter at Domo for #{org.displayName}:
p
  | E-mail: #{user.email}
  br
  | Skils: #{orguser.heldRoleAttrs.supporter.skills}
  br
  | Joined: #{orguser.heldRoleAttrs.supporter.joined}
  br
p
  a(href=approvalLink) Click here
  |  to approve this request.
